#header {
  height: 70px;
  width: 100%;
  background: chartreuse;
  position: fixed;
  z-index: 1000;
  
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 140px;

}

.links {
  display: flex;
  justify-content: space-between;

}

#header-img {
  height: 35px;
  width: 300px;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding-left: 165px;
}