footer.footer
  .contact
    ul.contact-links
      li: a(href="#" class="footer-link") Privacy
      li: a(href="#" class="footer-link") Terms
      li: a(href="#" class="footer-link") Contacts  
    p.copyright Copyright 2016, Original Trombones 