header#header
  nav.navbar#nav-bar 
    img(src="landing-page/images/original_trombones.png", alt="a company logo" id="header-img") 
    ul.links
      li: a(href='#features' class="nav-link") Features
      li: a(href='#how-it-work' class="nav-link") How It Works
      li: a(href='#pricing' class="nav-link") Pricing