#pricing.pricing
  .price-desc
    h2.price-desc-header tenor trombone
    p.price-desc-price $600
    ul.price-desc-features
      li.pdf-items Lorem ipsum.
      li.pdf-items Lorem ipsum.
      li.pdf-items Lorem ipsum dolor.
      li.pdf-items Lorem ipsum.
    button.price-desc-button(type="submit") select

  .price-desc
    h2.price-desc-header bass trombone
    p.price-desc-price $900
    ul.price-desc-features
      li.pdf-items Lorem ipsum.
      li.pdf-items Lorem ipsum.
      li.pdf-items Lorem ipsum dolor.
      li.pdf-items Lorem ipsum.
    button.price-desc-button(type="submit") select

  .price-desc
    h2.price-desc-header valve trombone
    p.price-desc-price $1200
    ul.price-desc-features
      li.pdf-items Plays similar to a Trumpet
      li.pdf-items Great for Jazz Bands
      li.pdf-items Lorem ipsum dolor.
      li.pdf-items Lorem ipsum.
    button.price-desc-button(type="submit") select