include config.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content=myDesc)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{myTitle}
    block links
      link(rel="stylesheet", href="css/style.css")
      link(rel="stylesheet", href="fonts/fontawesome/all.min.css")
      if GoogleFonts
        link(href="https://fonts.googleapis.com/css2?family="+GoogleFonts rel="stylesheet")
      
    body
      .container
        include _header.pug 

        include _main.pug
      
        include _footer.pug

        block scripts
          //- script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js") 