include includes/config.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content="Page description")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{myTitle}
    block links
      link(rel="stylesheet", href="../css/style.css")
      if GoogleFonts
        link(href="https://fonts.googleapis.com/css2?family="+GoogleFonts rel="stylesheet")
  body
    include includes/_header.pug 

    block content

    include includes/_footer.pug

    block scripts
